@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base{
  html{
    font-size: "Roboto", "sans-serif";
  }

  body{
    background-color: white;
    overflow-x: hidden;
  }

  h1{
    color: black;
  }
}

@layer components{

}